In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

from category_encoders.target_encoder import TargetEncoder
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [3]:
train = pd.read_csv('train_base.csv', sep=';')
test = pd.read_csv('test_base.csv', sep=';')

In [3]:
import analytics as als

In [4]:
bureau = pd.read_csv('bureau.csv')

In [5]:
bureau_balance = pd.read_csv('bureau_balance.csv')

In [6]:
list(bureau)

['SK_ID_CURR',
 'SK_ID_BUREAU',
 'CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_TYPE',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY']

In [7]:
bureau.shape

(1716428, 17)

In [8]:
als.check_missing_values(bureau, 10, 0)

AMT_ANNUITY               1226791
AMT_CREDIT_MAX_OVERDUE    1124488
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_DEBT        257669
DAYS_CREDIT_ENDDATE        105553
AMT_CREDIT_SUM                 13
CREDIT_TYPE                     0
AMT_CREDIT_SUM_OVERDUE          0
CNT_CREDIT_PROLONG              0
dtype: int64

In [9]:
als.check_missing_values(bureau, 15, 1)

793046     6
773821     6
871866     6
468959     6
701505     6
871863     6
1291779    6
552590     6
311889     6
1315567    6
1174161    6
871824     6
871823     6
311862     6
1011092    6
dtype: int64

In [10]:
als.get_unique_value(bureau, None)

SK_ID_CURR <class 'numpy.int64'> [215354 162297 402440 ... 448157 345866 235871]
SK_ID_BUREAU <class 'numpy.int64'> [5714462 5714463 5714464 ... 5057762 5057770 5057778]
CREDIT_ACTIVE <class 'str'> ['Closed' 'Active' 'Sold' 'Bad debt']
CREDIT_CURRENCY <class 'str'> ['currency 1' 'currency 2' 'currency 4' 'currency 3']
DAYS_CREDIT <class 'numpy.int64'> [-497 -208 -203 ...    0   -3   -1]
CREDIT_DAY_OVERDUE <class 'numpy.int64'> [   0 2603    6   30 2156  496  186 2264   41    8   71   13  252 1201
   12   38 1777  150   18   37   64 2050    9    4   29   22   49 1930
   34  951  936  664   45 2625  837   21   15   31 1715   19   67    7
   26   23   48   46   73   90 1127   53   33 1572   39 2582   14   25
   10   50   17  193   40   20   28  123  138  700  122 1504   32  670
   75  140   24  277 2019  161  962  187   58  106  634   83  120   60
   93 1694  227   44  344 2085 1248  124 1651 2541 1541  642  745  163
  234 1472  688 2455  614  319 2187   68  831  139  283  180   47  164
  174 1604 1326 2149   36   62  753  374 1573 1562 2400   35  860   11
  776  520   77 1892 1786   80 2310 2383  136  264  131    5 2571 1579
  198 2534 2292   63   72 2238 1475 2614  107    3 1195  990 1430  242
  249   16  648  659  100 2210 2249   57  672 2765   52 1899  676   43
   27  288   69 1222 2246  108  149 1087  212  256  192  211 2476  144
  141  650  110  372  948  651 1674 2188   76 2620   82  117 1428 2481
  104  216   91  618  635 2133 1409  226 1903 2592  338  155 2041   42
   54  143 1632  625  132  225  890  165  241 1747   78  719 1760  152
 1714  363 1406 1032 1307   66  477 1058   88  621 2463   81 1501  669
 1727  102   84  103  418  586 2364 2693 1272 2524 2030 1729 2069  171
 1417 2527  668 2129    2 2537  175  199  356   56 1761 1704  433   61
  209  652 1769 1455  893  183 1142 1172 1695  126 1319  817 1077 1862
 1601 1482 1018 2349 2312 1100   99 1620   98   55   59 2442  646 2499
  865 2234   51 2331 1150 1179   79 1072  819  480 2384   85  895 1062
  245 1554  127 1796 1506    1  114 2141   86 2195  237  592  388 2640
 2610 2282 1982  397 1118  458 1097  159 2544  952 1973   97 1591 1650
  653 1678  172 1529 2586  612  879  101 1240 1038 1587  157 1381 1088
  691 2602  345  748 1881 1474  986  208 1000  639 1403  640  328 2270
   65  128  276 2078  846  907  632 1452 2638  686 1036   74 1244  552
 1774 1763 2700  870  204 2456  177 2580  610  638   87  210  943 1927
 2184 2165  671 1733 2685 2243 2585 2466 2254 1590  195 2397 2595   94
  677  666  105  235  366  273  142 2770 2679 2379  445  724 2121 1921
 1814  221  403  243 2137  296 1011 1637  991 1829 1162 1684 1857  364
 2317  334  285  588  649  224 1499 1680  689 1512 2644  981 1997  213
 1826 2542 1570  219  244  611 1445  188  278  707 2193  179 2299 1919
 2092 1770 2599 2340  166 1275 1540 1469 2354 1671  169 2348 1233  752
  160  493 1047 1845 1206  738 1943 2347 2473  718 2629 2134  872 2168
 2080  268 2781   95  547 1835  115   70 2598  730 1681 2703 2324 2289
  190 2028 1618   89 2581  153 1764 2609 2395 2529 2652  135  414  206
  953  605 2108 1719 2565 2623  147  932 2754 1232 1178 2138 1199 2574
   92  238 1001  312  214 1468  934 2657  337 2279 1074  519 1075  641
  473  341  321 1051 2286 1226 1338 2275  960 1061  158  373  673 2391
 2221  429 2018  130 1993 2034 2358  112  326 2484 2616 1947 1742 1631
 1629  544 1463 1073 2048 1049  220  643  615  154  423 2217 1682 1131
 1086 2553  606 2071 2684  761 1009  358 2440  476 2513  232  630 1055
  133 1667  113 1875  441  768  181 1397 2332 1737 1290  148 1635  680
  714 1325 1521 1522 2059 1724 1313 1740 2277 1352  994 1104 2776 2211
 1042 2325 2600  426 2552  877 1670 1711  733  119 2656 2360 1235 1093
 1031 1197 2290  920 1887 1530 2117 2591  927  265  737 2464 1644  685
  723 2677 2588  647  631 1350  325  550 2212  756 1939 1167  362  251
 2058  891  781 1502 1205  931  944  121  525 1116 1068  747  472 1285
  452  619 2164  368 1524 2214 1907 1759  280 1274  969 1363 2335  303
 1936 1247 1552 1177  938  261  910  170  996 1252  827 1736  679  982
  731  720  674  919 1388  717 2029 2631 2502 2298  830 1638  146 2649
  915  247  806 1634 2252 1200 1218 1408  413 2295 2667  537  616 1364
  422 2353 2066  599  656 2474 2637  437 2643 2201 2175  289 1189 2661
  109 2338 1776  348 2102 2053  314  974  985  292 2099  810 1813 1334
 1095  137 1489  125 1253 1548  502  848 2258 1720 1804 1299  455 1194
  189  929 1706  584  942 1420 1213  134  290  269 2272  657 1766  217
 2128  408 1822 2627  593  129  231  178 1020  191 2577  485 1961  406
 1503 1703 2057 2641  795 1901 2093 1752  320  317 1255 1523 2228  933
 2766 1612  995  162 1843  694 2176  168 1648 2606 1209 1505  514 1797
  116 2546 2146  504 1755 1692 1722  200   96 2157  531 1962 1480  743
 2688 1588 1402  284  440  678 2280 1171  629  467 1135  786  976 1393
 2545 1161 2394 1404  176 2220 1183 2497 1972  873  299  787 1156  118
 1739 1060 2426 2604 2792  883 2355 2061 1584  465 1556 2301  275 1859
  184 1546  687  439 2634 2540  291 1496 1514 1193 2639 2608 2651 1754
 1918 1858 1298  554  876  323 2528 2681 2496 2109  324  765 2256 1278
 2284 2536 1693 1398 1912  826 2107  167  515  407 1863  460 1158  727
 1610 2204 2654 1931]
DAYS_CREDIT_ENDDATE <class 'numpy.float64'> [-153. 1075.  528. ... 5922. 3835. 5650.]
DAYS_ENDDATE_FACT <class 'numpy.float64'> [ -153.    nan -1710. ... -2919. -3042. -2891.]
AMT_CREDIT_MAX_OVERDUE <class 'numpy.float64'> [      nan 77674.5       0.    ...   173.07  11317.59   5693.625]
CNT_CREDIT_PROLONG <class 'numpy.int64'> [0 2 1 4 3 5 9 8 6 7]
AMT_CREDIT_SUM <class 'numpy.float64'> [ 91323.   225000.   464323.5  ...  77861.43 112204.35 108765.72]
AMT_CREDIT_SUM_DEBT <class 'numpy.float64'> [      0.     171342.            nan ...  830860.875  146502.
 1092226.5  ]
AMT_CREDIT_SUM_LIMIT <class 'numpy.float64'> [       nan 108982.62       0.    ...  10398.15   10617.75  135035.865]
AMT_CREDIT_SUM_OVERDUE <class 'numpy.float64'> [    0.      231.525   288.    ...   804.735 22581.      352.62 ]
CREDIT_TYPE <class 'str'> ['Consumer credit' 'Credit card' 'Mortgage' 'Car loan' 'Microloan'
 'Loan for working capital replenishment' 'Loan for business development'
 'Real estate loan' 'Unknown type of loan' 'Another type of loan'
 'Cash loan (non-earmarked)' 'Loan for the purchase of equipment'
 'Mobile operator loan' 'Interbank credit'
 'Loan for purchase of shares (margin lending)']
DAYS_CREDIT_UPDATE <class 'numpy.int64'> [  -131    -20    -16 ...  -2901 -41918  -2844]
AMT_ANNUITY <class 'numpy.float64'> [      nan     0.     2691.    ...  7681.95   4482.585 24351.435]

# Анализ данных

## Категориальные признаки:
### Агрегирование:
#### Для агрегирования категориальных признаков можно попробовать создать признаки для каждого значения категориальных фичей (признак_категория_i) и присвоить ему количество данных категорий для каждого клиента. Также можно упорядочить статус кредита и подсчитать среднее значение (не стоит считать сумму, так как у всех клиентов разное количество строк и результаты будут искажаться)

#### CREDIT_ACTIVE - статус кредита

#### CREDIT_CURRENCY - валюта кредита

#### CREDIT_TYPE - тип кредита 


## Числовые признаки: 
### Агрегирование:
#### Для агрегирования числовых признаков можно создавать признаки с минимальным, средним и максимальным значение для каждого клиента. 

#### SK_ID_CURR - номер клиента

#### SK_ID_BUREAU - номер заявки

#### DAYS_CREDIT - количество прошедших дней с подачи заявки в отношении текущей заявки

#### CREDIT_DAY_OVERDUE - количество просроченных дней

#### DAYS_CREDIT_ENDDATE - количество дней, в течении которых кредит действителен 

#### DAYS_ENDDATE_FACT - количество дней с момента окончания срока кредита 

#### AMT_CREDIT_MAX_OVERDUE - максимальная задолженность по кредиту

#### CNT_CREDIT_PROLONG - сколько раз была продлена дата до погашения

#### AMT_CREDIT_SUM - сумма кредитов

#### AMT_CREDIT_SUM_DEBT - сумма задолженностей

#### AMT_CREDIT_SUM_LIMIT - текущий кредит

#### AMT_CREDIT_SUM_OVERDUE - текущий просроченный платеж по кредиту

#### DAYS_CREDIT_UPDATE - количество дней, когда было получено последнее обновление по кредиту

#### AMT_ANNUITY - аннуитет данных кредитных бюро.

In [6]:
import treatment as trm

In [7]:
feature_str, feature_int = als.get_lists_type_feature(bureau, list(bureau))

In [8]:
import aggregation as agt

In [9]:
agr_str = agt.aggregate_category_entries(bureau, feature_str)

In [10]:
agr_str.to_csv('agr_str.csv', sep=',', index=False)

In [11]:
agr_str.shape

(305811, 23)

### Модель

In [12]:
trm.fill_gaps(agr_str, list(agr_str), 0)

In [13]:
train

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Target
0,100002,0.071954,0.088068,0.072761,0.068401,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,100003,0.071954,0.059883,0.072761,0.070987,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,100016,0.071954,0.059883,0.072761,0.068401,0,67500.0,80865.0,5881.5,67500.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0
3,100017,0.071954,0.088068,0.061824,0.070987,1,225000.0,918468.0,28966.5,697500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
4,100018,0.071954,0.059883,0.072761,0.068401,0,189000.0,773680.5,32778.0,679500.0,...,0,0,0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146789,456249,0.071954,0.059883,0.072761,0.068401,0,112500.0,225000.0,22050.0,225000.0,...,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0,0
146790,456251,0.071954,0.088068,0.072761,0.070987,0,157500.0,254700.0,27558.0,225000.0,...,0,0,0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0
146791,456252,0.071954,0.059883,0.072761,0.068401,0,72000.0,269550.0,12001.5,225000.0,...,0,0,0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0
146792,456253,0.071954,0.059883,0.072761,0.068401,0,153000.0,677664.0,29979.0,585000.0,...,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0,0
146793,456255,0.071954,0.059883,0.072761,0.070987,0,157500.0,675000.0,49117.5,675000.0,...,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0

In [14]:
agr_train = agr_str.loc[agr_str.index.isin(list(train.SK_ID_CURR.unique()))]

In [15]:
agr_test = agr_str.loc[agr_str.index.isin(list(test.SK_ID_CURR.unique()))]

In [16]:
agr_train.shape

(128833, 23)

In [33]:
train.shape

(146794, 103)

In [34]:
agr_test.shape

(42320, 23)

In [35]:
test.shape

(48744, 102)

In [38]:
agr_train

,Closed,Active,Sold,Bad debt,currency 1,currency 2,currency 4,currency 3,Consumer credit,Credit card,...,Loan for working capital replenishment,Loan for business development,Real estate loan,Unknown type of loan,Another type of loan,Cash loan (non-earmarked),Loan for the purchase of equipment,Mobile operator loan,Interbank credit,Loan for purchase of shares (margin lending)
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
402440,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
426155,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
136226,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
389599,5.0,3.0,0.0,0.0,8.0,0.0,0.0,0.0,6.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
311918,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412937,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322864,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
207190,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324956,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
235871,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Создаем агрегированные данные

In [17]:
agr_min = agt.aggregate_min_value(bureau, feature_int)

In [18]:
agr_min.to_csv('agr_min.csv', sep=',', index=False)

In [19]:
agr_max = agt.aggregate_max_value(bureau, feature_int)

In [20]:
agr_max.to_csv('agr_max.csv', sep=',', index=False)

In [21]:
agr_mean = agt.aggregate_mean_value(bureau, feature_int)

In [22]:
agr_mean.to_csv('agr_mean.csv', sep=',', index=False)

In [46]:
agr_min.shape

(305811, 14)

In [23]:
agr_max.shape

(305811, 14)

In [45]:
agr_str.shape

(305811, 23)

In [24]:
agr_min_df = agr_min.loc[agr_min.index.isin(list(train.SK_ID_CURR.unique()))]

In [25]:
agr_min_df.shape

(128833, 14)

In [26]:
agr_max_df = agr_max.loc[agr_max.index.isin(list(train.SK_ID_CURR.unique()))]

In [27]:
agr_mean_df = agr_mean.loc[agr_mean.index.isin(list(train.SK_ID_CURR.unique()))]

In [28]:
# Добавляет минимальное значение и создаем бинарный признак для наличия кредита

In [29]:
train.shape

(146794, 103)

In [30]:
without_credit = list(set(train.SK_ID_CURR) - set(agr_min_df.index))

In [31]:
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_min_df))

In [32]:
empty_df.fillna(9999, inplace=True)

In [33]:
empty_df['dummy_credit_history'] = 0

In [34]:
agr_min_df['dummy_credit_history'] = 1

In [35]:
min_features = pd.concat([empty_df, agr_min_df])

In [36]:
min_features['SK_ID_CURR'] = min_features.index

In [37]:
del min_features['SK_ID_CURR_MIN']

In [38]:
min_df = train.merge(min_features, on='SK_ID_CURR', how='left')

In [79]:
# Анализ пропусков

In [81]:
als.check_missing_values(min_df, 15, 1)

124775    6
139961    6
135091    6
68101     6
30096     6
82063     6
20955     6
112294    6
72623     6
103027    6
106272    6
143206    6
137502    6
138399    6
38368     6
dtype: int64

In [ ]:
# Заполняем пропуски отдельным числом 9999

In [40]:
min_df.fillna(9999, inplace=True)

In [83]:
#### Модель

In [84]:
min_df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,DAYS_ENDDATE_FACT_MIN,AMT_CREDIT_MAX_OVERDUE_MIN,CNT_CREDIT_PROLONG_MIN,AMT_CREDIT_SUM_MIN,AMT_CREDIT_SUM_DEBT_MIN,AMT_CREDIT_SUM_LIMIT_MIN,AMT_CREDIT_SUM_OVERDUE_MIN,DAYS_CREDIT_UPDATE_MIN,AMT_ANNUITY_MIN,dummy_credit_history
0,100002,0.071954,0.088068,0.072761,0.068401,0,202500.0,406597.5,24700.5,351000.0,...,-1185.0,0.0,0.0,0.0,0.0,0.0,0.0,-1185.0,0.0,1
1,100003,0.071954,0.059883,0.072761,0.070987,0,270000.0,1293502.5,35698.5,1129500.0,...,-2131.0,0.0,0.0,22248.0,0.0,0.0,0.0,-2131.0,9999.0,1
2,100016,0.071954,0.059883,0.072761,0.068401,0,67500.0,80865.0,5881.5,67500.0,...,-1369.0,0.0,0.0,22086.0,0.0,0.0,0.0,-1367.0,9999.0,1
3,100017,0.071954,0.088068,0.061824,0.070987,1,225000.0,918468.0,28966.5,697500.0,...,-2575.0,0.0,0.0,25231.5,0.0,0.0,0.0,-2575.0,9999.0,1
4,100018,0.071954,0.059883,0.072761,0.068401,0,189000.0,773680.5,32778.0,679500.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146789,456249,0.071954,0.059883,0.072761,0.068401,0,112500.0,225000.0,22050.0,225000.0,...,-2525.0,0.0,0.0,43447.5,0.0,0.0,0.0,-2498.0,9999.0,1
146790,456251,0.071954,0.088068,0.072761,0.070987,0,157500.0,254700.0,27558.0,225000.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0
146791,456252,0.071954,0.059883,0.072761,0.068401,0,72000.0,269550.0,12001.5,225000.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0
146792,456253,0.071954,0.059883,0.072761,0.068401,0,153000.0,677664.0,29979.0,585000.0,...,-794.0,9999.0,0.0,360000.0,0.0,0.0,0.0,-701.0,58369.5,1
146793,456255,0.071954,0.059883,0.072761,0.070987,0,157500.0,675000.0,49117.5,675000.0,...,-1621.0,0.0,0.0,22995.0,0.0,0.0,0.0,-1621.0,0.0,1

In [119]:
X = min_df.drop(columns=['Target'])
y = min_df['Target']

In [47]:
kf = StratifiedKFold(n_splits=5,  shuffle=True)

In [121]:
for train_indices, test_indices in kf.split(X, y):
    X_train, X_val = X.iloc[train_indices], X.iloc[test_indices]
    y_train, y_val = y.iloc[train_indices], y.iloc[test_indices]
    lgbmc = lgb.LGBMClassifier(mobjective='binary',
                               max_depth=47, learning_rate=0.05,
                               n_estimators=100, class_weight='balanced',
                               subsample=0.8,
                               colsample_bytree=0.8,
                               random_state=42,
                               importance_type='gain')
    model = lgbmc.fit(X_train, y_train)
    y_pred_train = model.predict(X_train)
    score_train = roc_auc_score(y_train, y_pred_train)
    print(f'train_score {score_train}')   
    y_pred_val = model.predict(X_val)
    score_val = roc_auc_score(y_val, y_pred_val)
    print(f'test_score {score_val}')

train_score 0.7264852781888265
test_score 0.6911618585495027
train_score 0.7284481055242524
test_score 0.6844759293739773
train_score 0.7279626651186524
test_score 0.6934403636203254
train_score 0.7281409621021702
test_score 0.683263723451506
train_score 0.7277401482040815
test_score 0.6848992822821611

In [94]:
# Прогнозируем на тест

In [122]:
agr_min_test = agr_min.loc[agr_min.index.isin(list(test.SK_ID_CURR.unique()))]

In [123]:
agr_min_test.shape

(42320, 14)

In [124]:
without_credit = list(set(test.SK_ID_CURR) - set(agr_min_test.index))

In [125]:
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_min_test))

In [126]:
empty_df.fillna(9999, inplace=True)

In [127]:
empty_df['dummy_credit_history'] = 0

In [128]:
agr_min_test['dummy_credit_history'] = 1

In [129]:
min_features = pd.concat([empty_df, agr_min_df])

In [130]:
min_features['SK_ID_CURR'] = min_features.index

In [131]:
del min_features['SK_ID_CURR_MIN']

In [132]:
min_df_test = test.merge(min_features, on='SK_ID_CURR', how='left')

In [133]:
min_df_test.fillna(9999, inplace=True)

In [134]:
pred = model.predict(min_df_test)

In [135]:
submission = {
    'SK_ID_CURR': min_df_test.SK_ID_CURR.values,
    'TARGET': pred}

In [136]:
solution = pd.DataFrame(submission)

In [137]:
solution.to_csv('submission_db.csv',index=False)

In [138]:
# ROC-AUC = 0.67276

In [139]:
### Добавим сразу максимум и медиану

In [78]:
without_credit = list(set(train.SK_ID_CURR) - set(agr_max_df.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_max_df))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_max_df['dummy_credit_history'] = 1
max_features = pd.concat([empty_df, agr_max_df])
max_features['SK_ID_CURR'] = max_features.index
del max_features['SK_ID_CURR_MAX']
max_df = train.merge(max_features, on='SK_ID_CURR', how='left')

In [79]:
without_credit = list(set(train.SK_ID_CURR) - set(agr_mean_df.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_mean_df))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_mean_df['dummy_credit_history'] = 1
mean_features = pd.concat([empty_df, agr_mean_df])
mean_features['SK_ID_CURR'] = mean_features.index
del mean_features['SK_ID_CURR_MEAN']
mean_df = train.merge(mean_features, on='SK_ID_CURR', how='left')

In [80]:
df = max_df.merge(mean_features, on='SK_ID_CURR', how='left')

In [44]:
df.shape

(146794, 131)

In [45]:
X = df.drop(columns=['Target'])
y = df['Target']

In [49]:
for train_indices, test_indices in kf.split(X, y):
    X_train, X_val = X.iloc[train_indices], X.iloc[test_indices]
    y_train, y_val = y.iloc[train_indices], y.iloc[test_indices]
    lgbmc = lgb.LGBMClassifier(mobjective='binary',
                               max_depth=47, learning_rate=0.05,
                               n_estimators=100, class_weight='balanced',
                               subsample=0.8,
                               colsample_bytree=0.8,
                               random_state=42,
                               importance_type='gain')
    model = lgbmc.fit(X_train, y_train)
    y_pred_train = model.predict(X_train)
    score_train = roc_auc_score(y_train, y_pred_train)
    print(f'train_score {score_train}')   
    y_pred_val = model.predict(X_val)
    score_val = roc_auc_score(y_val, y_pred_val)
    print(f'test_score {score_val}')

train_score 0.7339726153436151
test_score 0.6782367720184194
train_score 0.730125424847575
test_score 0.6983104279741293
train_score 0.7332765105318176
test_score 0.6876765034385065
train_score 0.7327816494437821
test_score 0.6989668295243477
train_score 0.7343749866792819
test_score 0.6867429136719696

In [81]:
without_credit = list(set(train.SK_ID_CURR) - set(agr_train.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_train))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_train['dummy_credit_history'] = 1
max_features = pd.concat([empty_df, agr_train])
max_features['SK_ID_CURR'] = max_features.index
df2 = df.merge(max_features, on='SK_ID_CURR', how='left')

In [82]:
without_credit = list(set(train.SK_ID_CURR) - set(agr_min_df.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_min_df))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_min_df['dummy_credit_history'] = 1
min_features = pd.concat([empty_df, agr_min_df])
min_features['SK_ID_CURR'] = min_features.index
del min_features['SK_ID_CURR_MIN']
df3 = df2.merge(min_features, on='SK_ID_CURR', how='left')

In [83]:
df2.shape

(146794, 155)

In [84]:
X = df3.drop(columns=['Target'])
y = df3['Target']

In [86]:
for train_indices, test_indices in kf.split(X, y):
    X_train, X_val = X.iloc[train_indices], X.iloc[test_indices]
    y_train, y_val = y.iloc[train_indices], y.iloc[test_indices]
    lgbmc = lgb.LGBMClassifier(mobjective='binary',
                               max_depth=50, learning_rate=0.05,
                               n_estimators=100, class_weight='balanced',
                               subsample=0.8,
                               colsample_bytree=0.8,
                               random_state=42,
                               importance_type='gain',
                              reg_alpha=20,
                             reg_lambda=30)
    model = lgbmc.fit(X_train, y_train)
    y_pred_train = model.predict(X_train)
    score_train = roc_auc_score(y_train, y_pred_train)
    print(f'train_score {score_train}')   
    y_pred_val = model.predict(X_val)
    score_val = roc_auc_score(y_val, y_pred_val)
    print(f'test_score {score_val}')

train_score 0.7259893465618291
test_score 0.695458095736221
train_score 0.7234559463835757
test_score 0.6951632923007205
train_score 0.7252883673819198
test_score 0.6919549258881944
train_score 0.7295376164179805
test_score 0.6836030243075184
train_score 0.7272338626546149
test_score 0.6862997658079625

In [87]:
agr_min_test = agr_min.loc[agr_min.index.isin(list(test.SK_ID_CURR.unique()))]
without_credit = list(set(test.SK_ID_CURR) - set(agr_min_test.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_min_test))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_min_test['dummy_credit_history'] = 1
min_features = pd.concat([empty_df, agr_min_df])
min_features['SK_ID_CURR'] = min_features.index
del min_features['SK_ID_CURR_MIN']
min_df_test = test.merge(min_features, on='SK_ID_CURR', how='left')


agr_max_test = agr_max.loc[agr_max.index.isin(list(test.SK_ID_CURR.unique()))]
without_credit = list(set(test.SK_ID_CURR) - set(agr_max_test.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_max_test))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_max_test['dummy_credit_history'] = 1
max_features = pd.concat([empty_df, agr_max_df])
max_features['SK_ID_CURR'] = max_features.index
del max_features['SK_ID_CURR_MAX']
max_df_test = min_df_test.merge(max_features, on='SK_ID_CURR', how='left')


agr_mean_test = agr_mean.loc[agr_mean.index.isin(list(test.SK_ID_CURR.unique()))]
without_credit = list(set(test.SK_ID_CURR) - set(agr_mean_test.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_mean_test))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_mean_test['dummy_credit_history'] = 1
mean_features = pd.concat([empty_df, agr_mean_df])
mean_features['SK_ID_CURR'] = mean_features.index
del mean_features['SK_ID_CURR_MEAN']
mean_df_test = max_df_test.merge(mean_features, on='SK_ID_CURR', how='left')


agr_s_test = agr_test.loc[agr_test.index.isin(list(test.SK_ID_CURR.unique()))]
without_credit = list(set(test.SK_ID_CURR) - set(agr_s_test.index))
empty_df = pd.DataFrame(np.nan, index=without_credit, columns=list(agr_s_test))
empty_df.fillna(0, inplace=True)
empty_df['dummy_credit_history'] = 0
agr_s_test['dummy_credit_history'] = 1
s_features = pd.concat([empty_df, agr_s_test])
s_features['SK_ID_CURR'] = s_features.index
s_test = mean_df_test.merge(s_features, on='SK_ID_CURR', how='left')
s_test.fillna(0, inplace=True)

In [88]:
s_test.shape

(48744, 168)

In [89]:
pred = model.predict(s_test)

In [90]:
submission = {
    'SK_ID_CURR': min_df_test.SK_ID_CURR.values,
    'TARGET': pred}
solution = pd.DataFrame(submission)
solution.to_csv('submission_db.csv',index=False)

In [9]:
# тут аук 0.65